body {
  background-color: lightblue;
}
p {
  color: green;
}

/*.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1px 1px;
  grid-template-areas:
    "topBar topBar topBar"
    "GPS GPS deezer"
    "GPS GPS youtube"
    "sensors weather radio";
}*/

.main {
  height: auto;
  width: 100%;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-wrap: wrap;
}

.container-top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
}

.container-left {
  height: 100%;
  width: 70%;
}

.container-right {
  height: 100%;
  width: 30%;
}

.bigBox {
  height: 66.67vh; width: 100%;
}

.boxLeft {
  height: 33.33vh; width: 50%;
}

.boxRight {
  height: 33.33vh; width: 100%;
}

.topBar {
  background-color: lightblue;
}

.GPS {
  background-color: orange;
}

.deezer {
  background-color: black;
}

.youtube {
  background-color: red;
}


.sensors {
  background-color: grey;
}

.weather {
  background-color: blue;
}

.radio {
  background-color: lightgreen;
}
